:root {
    --color1: #000000;
    --color2: #e53939;
    --color3: #ffffff;
}

html {
    background-color: var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color1);
}

/*Cabeçalho*/

header {
    display: flex;
    align-items: center;
}

header .header {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header img {
    width: 25vw;
}

.menuDesktop ul {
    cursor: pointer;
    display: flex;
}

.menuDesktop ul li {
    margin: 10px;
    width: 20vw;
    background-color: var(--color2);
    color: var(--color1);
    text-align: center;
    border-radius: 30px;
}

.menuDesktop a {
    font-size: 4vw;
}

.header .iconeMenu {
    font-size: 8vw;
}

/*Menu nav*/
header .menuMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin-top: 30px;
}

header .menuMobile .tiluloNav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
}

header .menuMobile .tiluloNav img {
    width: 25vw;
}

header .menuMobile .tiluloNav .iconeMenuX {
    font-size: 8vw;
}

.menuMobile ul {
    margin-top: 10%;
    cursor: pointer;
    display: flex;
}

.menuMobile ul li {
    margin-top: 20px;
    width: 40vw;
    height: 10vw;
    background-color: var(--color2);
    color: var(--color1);
    text-align: center;
}

.menuMobile ul li.ativo {
    background-color: var(--color3);
}

.menuMobile a {
    font-size: 7vw;
}

/*Formulários de login e cadastro*/

.menuMobile .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 100vw;
    background-color: var(--color3);
}

.menuMobile .form input {
    margin: 15px;
    text-align: center;
    font-size: 5vw;
    display: flex;
    border: var(--color2 1px solid);
    padding: 5px;
}


/* Main */

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
    position: absolute;
}

main .formDesktop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
    background-color: var(--color1);
    position: relative;
    top: -30px;
    left: 200px;
}

main .formDesktop .loginDesktop, .CadastroDesktop{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: var(--color3) 1px solid;
}

main .formDesktop input{
    margin: 5px;
}

main h1 {
    color: var(--color3);
    text-align: center;
    font-size: 15vw;
}

main h3 {
    color: var(--color3);
    text-align: center;
    font-size: 7vw;
    font-weight: lighter;
}

main img {
    width: 70vw;
}

@media (min-width: 560px) {
    .header img {
        width: 120px;
    }

    .menuDesktop ul li {
        margin: 10px;
        width: 100px;
    }

    .menuDesktop a {
        font-size: 20px;
    }
}


/*
header .menuMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin-top: 30px;
}

header .menuMobile .tiluloNav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
}

header .menuMobile .tiluloNav img {
    width: 25vw;
}

header .menuMobile .tiluloNav .iconeMenuX {
    font-size: 8vw;
}

.menuMobile ul {
    margin-top: 10%;
    cursor: pointer;
    display: flex;
}

.menuMobile ul li {
    margin-top: 20px;
    width: 40vw;
    height: 10vw;
    background-color: var(--color2);
    color: var(--color1);
    text-align: center;
}

.menuMobile ul li.ativo {
    background-color: var(--color3);
}

.menuMobile a {
    font-size: 7vw;
}


.menuMobile .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 100vw;
    background-color: var(--color3);
}

.menuMobile .form input {
    margin: 15px;
    text-align: center;
    font-size: 5vw;
    display: flex;
    border: var(--color2 1px solid);
    padding: 5px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
}

main h1 {
    color: var(--color3);
    text-align: center;
    font-size: 15vw;
}

main h3 {
    color: var(--color3);
    text-align: center;
    font-size: 7vw;
    font-weight: lighter;
}

main img {
    width: 70vw;
}