:root {
    --color1: #000000;
    --color2: #e53939;
    --color3: #ffffff;
}

html {
    background-color: var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color1);
}

/*Cabeçalho*/

header {
    display: flex;
    align-items: center;
}

header .header {
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header img {
    width: 25vw;
}

header .iconeMenu {
    font-size: 8vw;
}

/*Menu nav*/
header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin-top: 30px;
}

header .tiluloNav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
}

header .tiluloNav img {
    width: 25vw;
}

header .tiluloNav .iconeMenuX {
    font-size: 8vw;
}

nav ul { 
    margin-top: 10%;
    cursor: pointer;
    display: flex;
}

nav ul li {
    margin-top: 20px;
    width: 40vw;
    height: 10vw;
    background-color: var(--color2);
    border: solid 1px var(--color3);
    color: var(--color1);
    text-align: center;
}

nav ul li.ativo{
    background-color: var(--color3);
    border: #000000 solid 1px;
}

nav a{
    font-size:7vw;
}

/*Formulários de login e cadastro*/

nav .form{
    border: #fff solig 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 100vw;
    background-color: #121212;
}

nav .form input{
    margin: 10px;
    text-align: center;
    font-size: 5vw;
    display: flex;
}


/* Main */

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80vh;
}
main h1{
    color: var(--color3);
    text-align: center;
    font-size: 15vw;
}
main h3{
    color: var(--color3);
    text-align: center;
    font-size:7vw;
    font-weight: lighter;
}
main img{
    width: 70vw;
}